.home{
    position: relative;
    width: 100%;
    height: 750px;
    padding: 10px 10px;
    gap: 75px;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 160px;
}

.my-cv-picture {
    width: 300px;
    height: 300px;
    border-radius: 20%;
    display: block;
    background-color: var(--secondary-color);
    object-fit: cover;

    transition: all 0.8s ease-in-out;

}
.intro{
    width: 934px;
    height: auto;
    gap: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.intro hr {
    width: 100%;
    height: 2px;
    border: none;
    background-color: var(--secondary-color);
    margin: 0;
}
.intro p {
    font-size: 1.1em;
    color: #333;
    line-height: 1.4em;
    margin: 0;
}

.name{
    width: 559px;
    height: 204px;
    gap: 10px;
    padding: 14px 0px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
}
.name h1{
    font-size: 48px;
}

.name p {
    font-size: 20px;
    line-height: 1.6em;
    margin: 0; 
}

.presentation{
    width: 900px;
    height: 160px;
    gap: 20px;
    display: flex;
    flex-direction: row;
}
.presentation p {
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

