:root{
    --primary-color: #a8d0e6;
    --secondary-color: #3F88C5;
    --background-color: #F5F6FA; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
}
nav{
    margin-bottom: 0;
}

h2 {
    color: #265980;
    font-size: 1.5em;
    margin: 0.5em 0;
}

p {
    margin: 0.5em 0;
}

ul {
    margin-left: 1.5em;
    margin-bottom: 1em;
}

a {
    color: inherit;
    text-decoration: none;
}

i {
  margin-right: 8px;
}

.lang-switch {
  margin-left: auto; 
  font-weight: bold;
}

.lang-switch a {
  color: white;
  text-decoration: none;
  margin: 0 0.2em;
}

.lang-switch a:hover {
  text-decoration: underline;
}

section {
  scroll-margin-top: 45px; 
}

html {
  scroll-behavior: smooth;
}