.social-media {
    display: flex;
    gap: 0.8em;
    margin-right: 1em;
}

.social-media a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
}

.social-media img {
    width: auto;
    height: 20px;
}

.social-media a:hover {
    background-color: #ddd;
    cursor: pointer;
}

.logo-bde, .logo-oeno, .logo-bae {
  width: 120px;
  height: auto;
  object-fit: contain;
  margin-right: 800px;
}

.logos {
    float: right;
    top: 0.5em;
    right: 1em;
    display: flex;
    gap: 0.5em;
    transition: transform 0.2s ease;
}

.logos img:hover {
    transform: scale(1.1);
}

.langage-c {
    width: 30px;  
    height: auto;  
}


.langage-cpp{
    width: 30px;
    height: auto;
}

.ros{
    width: 60px;
    height: auto;
}

.vhdl{
    width: 60px;
    height: auto;
}

.asm{
    width: 30px;
    height: auto;
}

.ads{
    width: 30px;
    height: auto;
}

.html-css{ 
    width: 50px;
    height: auto;
}

.github-link {
  margin-top: 1.2em;
}

.github-link a {
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
  text-decoration: none;
  background-color: var(--secondary-color);
  color: white;
  padding: 0.4em 0.8em;
  border-radius: 6px;
  font-weight: 500;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.github-link a:hover {
  background-color: #64b0d8;
  transform: translateY(-1px);
}

.github-link img {
  width: 40px;
  height: auto;
}

.btn-link {
  display: inline-block;
  background-color: var(--secondary-color); 
  color: #fff;
  font-weight: 600;
  padding: 0.4em 0.8em;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.btn-link:hover {
  background-color: #64b0d8; 
  transform: translateY(-1px);
}

.corner-image {
  position: absolute;
  top: 10px;       
  right: -180px;    
  width: 500px;    
  height: auto;
  opacity: 0.9;  
  transform: rotate(45deg);
  transition: transform 0.3s ease, opacity 0.3s ease;
}