.navbar {
    background-color: #5C7990;
    padding: 0.5em 1em;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 2em;
    margin: 0;
    padding: 0;
}

.navbar a {
    color: white;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}
