/* === NAVBAR INITIALE === */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--secondary-color);
  color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 16px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.15);
  transition: all 0.4s ease;
  z-index: 1000;
  gap: auto;

}

.navbar-links {
  display: flex;
  font-weight: 600;
  gap: 40px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  transition: opacity 0.3s ease;
  font-weight: 500;
  font-size: 1.1em;
  
}

.navbar-links a:hover {
  text-decoration: underline;
}

.lang {
  font-size: 0.9em;
  margin-left: 1em;
}

.navbar-home {
  display: none;
  align-items: center;
  gap: 0.8em;
  transition: opacity 0.4s ease;
}

.my-cv-picture-nav {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
}
.my-cv-picture.in-navbar {
  position: fixed;
  top: 15px;         
  left: 40px;      
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: none;
  z-index: 2000;
  background-color: transparent;
  transform: translateY(0);
}

.nav-name {
  font-weight: 500;
  font-size: 1.1em;
  opacity: 0;
  transform: translateX(-10px);
  transition: all 0.6s ease;
}
.nav-name.visible {
  opacity: 1;
  transform: translateX(0);
}

.navbar.shrink {
  justify-content: space-between;
  padding: 0.7em 3em;
  background-color: var(--secondary-color);
}

.navbar.shrink .navbar-home {
  display: flex;
  opacity: 1;
}

.navbar.shrink .navbar-links {
  justify-content: flex-end;
  gap: 1.5em;
}

.navbar.shrink .navbar-links a {
  font-weight: 500;
}

.navbar,
.navbar-home,
.navbar-links a {
  transition: all 0.3s ease;
}
