.parcours-academique {
    display: flex;
    flex-direction: column;
    gap: 34px;
    padding: 24px 10px;
    box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-left: 30px;
    margin-right: 30px;
    border-top: 4px solid var(--secondary-color);
    margin-top: 60px; 
}


.parcours-academique h2{    
    color: var(--secondary-color);
}

.parcours-academique h3{
    text-decoration: underline;
}

.box-enseirb {
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
}

.box-dut {
    display: flex;
    flex-direction: column;
    padding: 0px 40px;
}

.content-enseirb, .content-dut{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    padding: 20px 0px;
    align-items: stretch;
}

.cours-enseirb, .projets-enseirb, .certifications, 
.cours-dut, .projets-dut
{
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    min-width: 0;
    padding: 10px 0px;
    gap: 10px;
}

.parcours-academique::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 2px;
  background-color: var(--primary-color);
  border-radius: 2px;
}

