.parcours-academique {
    display: flex;
    flex-direction: column;
    gap: 34px;
    padding: 24px 10px;
    box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px; 
}

.parcours-academique hr{
    background-color: var(--secondary-color);
    border: none;
    height: 4px;
    width: 95%;
    margin: 0px auto;
}

.parcours-academique h2{    
    color: var(--secondary-color);
    font-size: 28px;
}

.parcours-academique h3{
    text-decoration: underline;
}

.box-enseirb {
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
}
.box-dut {
    display: flex;
    flex-direction: column;
    padding: 0px 40px;
}


.content-enseirb{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    padding: 20px 0px;
    align-items: stretch;
}

.content-dut{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0px;
    gap: 40px;
    margin-bottom: 20px;
}

.haut-enseirb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}

.cours-enseirb, .projets-enseirb, .cours-dut, .projets-dut{
  flex: 1 1 48%; 
  background-color: var(--background-color); 
  border-left: 4px solid var(--primary-color);
  padding: 16px 20px;
  border-radius: 8px;
}

.certifications {
  background-color: var(--background-color);
  border-radius: 8px;
  padding: 8px 20px;
  border-left: 4px solid var(--primary-color);
}


.parcours-academique::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 2px;
  background-color: var(--primary-color);
  border-radius: 2px;
}

