.parcours-professionnel {
    display: flex;
    flex-direction: column;
    gap: 34px;
    padding: 24px 10px;
    box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-left: 30px;
    margin-right: 30px;
}

.parcours-professionnel hr{
    background-color: var(--secondary-color);
    border: none;
    height: 4px;
    width: 95%;
    margin: 0px auto;
}
.parcours-professionnel h2{    
    color: var(--secondary-color);
    font-size: 28px;
}

.parcours-professionnel h3{
    text-decoration: underline;
}

.box-apprentissage, .box-stage, .box-leclerc {
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
}

.content-apprentissage, .content-stage, .content-leclerc{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    padding: 20px 0px;
    align-items: stretch;
}

.first-year, .second-year, .third-year, 
.detection-armes, .hote-caisse, .hote-accueil
{
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    min-width: 0;
    gap: 10px;
    border-left: 4px solid var(--primary-color);
    border-radius: 8px;
    padding: 16px 20px;

}

.parcours-professionnel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 2px;
  background-color: var(--primary-color);
  border-radius: 2px;
}

