.projets{
    display: flex;
    flex-direction: column;
    gap: 34px;
    padding: 24px 10px;
    box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-left: 30px;
    margin-right: 30px;
}

.projets hr{
    background-color: var(--secondary-color);
    border: none;
    height: 4px;
    width: 95%;
    margin: 0px auto;
}

.projets h2{    
    color: var(--secondary-color);
    font-size: 28px;
}

.projets h3{
    text-decoration: underline;
}

.box-messagerie, .box-processeur, 
.box-website
{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1.5em 2em;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
    margin-left: 30%;
    background-color: var(--primary-color);
    text-align: left;
    border-radius: 12px;
}

.box-mediatheque, .box-ads, .box-robotique, 
.box-battleship{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1.5em 2em;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
    margin-right: 30%;
    background-color: var(--primary-color);
    text-align: left;
    border-radius: 12px;
}


.header-battleship, .header-ads, .header-messagerie, .header-mediatheque,
.header-processeur, .header-robotique, .header-website
{

    text-align: left;
}

.header-battleship h3, .header-ads h3, .header-messagerie h3, .header-mediatheque h3, 
.header-processeur h3, .header-robotique h3, .header-website h3
{
    margin: 0;
    font-size: 1.3em;
    color: black;
}

.header-battleship p, .header-ads p, .header-messagerie p, .header-mediatheque p, 
.header-processeur p, .header-robotique p, .header-website p
{
    font-style: italic;
    color: rgba(0, 0, 0, 1);
    margin-top: 0.3em;
}

.content-battleship, .content-ads, .content-messagerie, .content-mediatheque, 
.content-processeur, .content-robotique, .content-website
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.content-battleship p, .content-ads p, .content-messagerie p, .content-mediatheque p, 
.content-processeur p, .content-robotique p, .content-website p
{
    text-align: justify;
    text-justify: inter-word;
}


